@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright&family=Fira+Sans:wght@300&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --lightCoffee: #be4632;
  --darkCoffee: #1f1919;
  --lightGrey: #e6e6e6;
  --darkGrey: #625d5d;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

input {
  font: inherit;
  background: none;
  width: 100%;
}

button {
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

html {
  font-family: "Fira Sans", sans-serif;
  scroll-behavior: smooth;
}

#main {
  height: 300vh;
}

/* #section2 {
  border: 3px solid red;
} */

@media (prefers-color-scheme: light) {
}
